/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  display: block;
  font-size: 25px;
  margin-bottom: 0;
  margin-top: 20px;
  margin-left: 20px;
}

.text-top {
  margin-left: 40px;
  margin-top: 0px;
  padding: 0;
}

p {
  font-size: 10px;
}

.text-top p:nth-child(1) {
  margin-left: 10px;
}
.text-top p:nth-child(2) {
  margin-top: 20px;
  margin-left: 10px;
}

.text-top p:nth-child(3) {
  margin-left: 0;
  padding: 0;
}

.book-box {
  margin-bottom: 20px;
}

.index-body {
  padding: 35px;
}

.head-book1 {
  display: flex;
  text-align: center;
  font-size: 13px;
}

.head-book1 h5:nth-child(1) {
  flex-basis: 150px;

}

.head-book1 h5:nth-child(2) {
  flex-basis: 300px
}

.book-comment {
  display: flex;
  font-size: 10px;
}

.book-comment span:nth-child(1) {
  flex-basis:   150px;
}

.book-comment span:nth-child(2) {
  flex-basis: 300px;
}

.book-comment p:nth-child(3) {
  flex-basis: 40px;
}

.book-comment p:nth-child(4) {
  flex-basis: 35px;
}

.book-comment p:nth-child(5) {
  flex-basis: 40px;
}

.headline3 {
  margin: 0;
}

.post-box {
  display: block;
  font-size: 10px;
}

.post-box p:nth-child(8) {
 height: 12px;
}

.flash-message {
  border-radius: 5px;
  padding: 16px 24px;
  margin: 16px 0px;
}

.flash-message.notice {
  color: #008000;
  font-size: 10px;
}

.flash-message.alert {
  color: #ff0000;
  font-size: 10px;
}

.show-box {
  margin: 35px;
}

.show-box p:nth-child(1),p:nth-child(2) {
  margin-left: 20px;
  margin-bottom: 20px;
}
